.projects {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
  background: var(--ifm-background-color);
  color: var(--ifm-font-color-base);
}

.projectMedia {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 8px;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

.projectMedia:hover {
  transform: scale(1.05);
}

.projectLink {
  text-decoration: none;
  display: block;
  position: relative;
}

.projectLink:hover {
  text-decoration: none;
}

.projectTitle {
  color: var(--ifm-font-color-base);
  text-decoration: none;
}

.projectTitle:hover {
  color: var(--ifm-color-primary);
  text-decoration: none;
}
